html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow: hidden;
  }
}

body {
  font-family: $secondFamily;
  min-width: 320px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapperWidth + 32px;
  padding: 0px 16px;
  margin: 0 auto;
  display: flex;
}
