$fontFamily: 'Actay Wide', sans-serif;
$secondFamily: 'Actay', sans-serif;
$thirdFamily: 'Inter', sans-serif;
$first: #7d96ff;
$second: #323b3f;
$third: #fff;
$wrapperWidth: 1783.6px;
$headerZ: 3;
$defTransitionTime: 0.3s;
